body {
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  margin: 0% 15% 2% 15%;
  background-color: #ffffcc;
  font-weight: lighter;
}

nav{
  font-size: 1.23em;
  margin-top: 4.5%;
  display: flex;
  justify-content: center;
}

 nav ul{
 width: 300px;
 list-style-type: none;
 display: flex;
 justify-content: space-between;
}

header {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1{
  font-size: 1.5em
}

h4 {
  font-size: 1.25em;
  font-weight: 600;
}

span {
  font-size: .8em;
}

ul, li{
  list-style-type: none;
}

footer {
  margin-top: 10%;
}
