body {
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
  margin: 0% 15% 2% 15%;
  background-color: #ffffcc;
}

nav{
  display: flex;
  justify-content: center;

}

ul.nav{
  width: 300px;
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;
}

.heading, .H4, h1, figcaption{
  clear: right;
  text-align: center;
}

h1{
  font-size: 1.5em
}

h4 {
  font-size: 1.25em;
  font-weight: 600;
}

span {
  font-size: .8em;
}

ul, li{
  list-style-type: none;
}

footer {
  margin-top: 10%;
}
